@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .py-navbar-item {
    @apply py-3;
  }
  .px-navbar-item {
    @apply px-4;
  }
}
.btn-primary {
  @apply outline-none transition-colors border-purple-500 border flex justify-center items-center bg-purple-500 hover:bg-purple-600 text-white rounded py-1 px-2;
}

.myAccount:hover .myListMyAccount {
  visibility: visible;
  /* display: block; */
}
.myListMyAccount {
  visibility: hidden;
  /* display: none; */
  right: -1.5rem;
}
.mobile {
  left: -220px;
}
